
@font-face {
	font-family: 'BlissPro';
	src: url('../fonts/BlissPro.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/BlissPro.otf')  format('opentype'),
		 url('../fonts/BlissPro.woff') format('woff'), 
		 url('../fonts/BlissPro.ttf')  format('truetype'), 
		 url('../fonts/BlissPro.svg#BlissPro') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'BlissPro';
	src: url('../fonts/BlissPro-Bold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/BlissPro-Bold.otf')  format('opentype'),
		 url('../fonts/BlissPro-Bold.woff') format('woff'),
		 url('../fonts/BlissPro-Bold.ttf')  format('truetype'), 
		 url('../fonts/BlissPro-Bold.svg#BlissPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
