@font-face {
	font-family: 'clio_c';
	src: url('../fonts/letype_-_cliocregular.eot');
	src: url('../fonts/letype_-_cliocregular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/letype_-_cliocregular.woff') format('woff'),
		 url('../fonts/letype_-_cliocregular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'clio_c';
	src: url('../fonts/letype_-_cliocmedium-medium.eot');
	src: url('../fonts/letype_-_cliocmedium-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/letype_-_cliocmedium-medium.woff') format('woff'),
		 url('../fonts/letype_-_cliocmedium-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'clio_c';
	src: url('letype_-_cliocbold-bold.eot');
	src: url('letype_-_cliocbold-bold.eot?#iefix') format('embedded-opentype'),
		 url('letype_-_cliocbold-bold.woff2') format('woff2'),
		 url('letype_-_cliocbold-bold.woff') format('woff'),
		 url('letype_-_cliocbold-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;

}