@font-face {
	font-family: 'enigmatic_unicode';
	src: url('../fonts/enigmau_2.eot');
	src: url('../fonts/enigmau_2.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/enigmau_2.woff') format('woff'),
		 url('../fonts/enigmau_2.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}