@font-face {
	font-family: 'kelson_sans';
	src: url('../fonts/kelsonsansboldru-webfont.eot');
	src: url('../fonts/kelsonsansboldru-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/kelsonsansboldru-webfont.woff2') format('woff2'),
		 url('../fonts/kelsonsansboldru-webfont.woff') format('woff'),
		 url('../fonts/kelsonsansboldru-webfont.ttf') format('truetype'),
		 url('../fonts/kelsonsansboldru-webfont.svg#kelson_sans_rubold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'kelson_sans';
	src: url('../fonts/kelsonsansregularru-webfont.eot');
	src: url('../fonts/kelsonsansregularru-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/kelsonsansregularru-webfont.woff2') format('woff2'),
		 url('../fonts/kelsonsansregularru-webfont.woff') format('woff'),
		 url('../fonts/kelsonsansregularru-webfont.ttf') format('truetype'),
		 url('../fonts/kelsonsansregularru-webfont.svg#kelson_sans_ruregular') format('svg');
	font-weight: normal;
	font-style: normal;
}