@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadProRegular.eot');
	src: url('../fonts/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadProRegular.woff') format('woff'),
		url('../fonts/MyriadProRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadProItalic.eot');
	src: url('../fonts/MyriadProItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadProItalic.woff') format('woff'),
		url('../fonts/MyriadProItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadProBoldItalic.eot');
	src: url('../fonts/MyriadProBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadProBoldItalic.woff') format('woff'),
		url('../fonts/MyriadProBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadProBold.eot');
	src: url('../fonts/MyriadProBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadProBold.woff') format('woff'),
		url('../fonts/MyriadProBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}