
@font-face {
	font-family: 'NeoSansPro';
	src: url('../fonts/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NeoSansPro-Regular.otf')  format('opentype'),
		 url('../fonts/NeoSansPro-Regular.woff') format('woff'),
		 url('../fonts/NeoSansPro-Regular.ttf')  format('truetype'),
		 url('../fonts/NeoSansPro-Regular.svg#NeoSansPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'NeoSansPro';
	src: url('../fonts/NeoSansPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NeoSansPro-Bold.otf')  format('opentype'),
		 url('../fonts/NeoSansPro-Bold.woff') format('woff'),
		 url('../fonts/NeoSansPro-Bold.ttf')  format('truetype'),
		 url('../fonts/NeoSansPro-Bold.svg#NeoSansPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
