@font-face {
	font-family: 'Octava';
	src: url('../fonts/Octava-BoldItalic.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/Octava-BoldItalic.otf')  format('opentype'),
		 url('../fonts/Octava-BoldItalic.woff') format('woff'), 
		 url('../fonts/Octava-BoldItalic.ttf')  format('truetype'), 
		 url('../fonts/Octava-BoldItalic.svg#Octava-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Octava';
	src: url('../fonts/Octava-Bold.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/Octava-Bold.otf')  format('opentype'),
		 url('../fonts/Octava-Bold.woff') format('woff'), 
		 url('../fonts/Octava-Bold.ttf')  format('truetype'), 
		 url('../fonts/Octava-Bold.svg#Octava-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Octava';
	src: url('../fonts/Octava-Italic.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/Octava-Italic.otf')  format('opentype'),
		 url('../fonts/Octava-Italic.woff') format('woff'), 
		 url('../fonts/Octava-Italic.ttf')  format('truetype'), 
		 url('../fonts/Octava-Italic.svg#Octava-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Octava';
	src: url('../fonts/Octava-Regular.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/Octava-Regular.otf')  format('opentype'),
		 url('../fonts/Octava-Regular.woff') format('woff'), 
		 url('../fonts/Octava-Regular.ttf')  format('truetype'), 
		 url('../fonts/Octava-Regular.svg#Octava-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
