@font-face {
	font-family: 'cassandraregular';
	src: url('../fonts/cassandra.eot');
	src: url('../fonts/cassandra.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/cassandra.woff') format('woff'),
		 url('../fonts/cassandra.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}