@font-face {
	font-family: 'uni_sans';
	src: url('../fonts/fontfabric_-_unisans-bold-webfont.eot');
	src: url('../fonts/fontfabric_-_unisans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/fontfabric_-_unisans-bold-webfont.woff') format('woff'),
		 url('../fonts/fontfabric_-_unisans-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'uni_sans';
	src: url('../fonts/fontfabric_-_unisans-bold-italic-webfont.eot');
	src: url('../fonts/fontfabric_-_unisans-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/fontfabric_-_unisans-bold-italic-webfont.woff') format('woff'),
		 url('../fonts/fontfabric_-_unisans-bold-italic-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'uni_sans';
	src: url('../fonts/fontfabric_-_unisans-regular-webfont.eot');
	src: url('../fonts/fontfabric_-_unisans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/fontfabric_-_unisans-regular-webfont.woff') format('woff'),
		 url('../fonts/fontfabric_-_unisans-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'uni_sans';
	src: url('../fonts/fontfabric_-_unisans-regular-italic-webfont.eot');
	src: url('../fonts/fontfabric_-_unisans-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/fontfabric_-_unisans-regular-italic-webfont.woff') format('woff'),
		 url('../fonts/fontfabric_-_unisans-regular-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

/*===========================================================================================================*/