@font-face {
    font-family: 'univers_condensed';
    src: url('../fonts/13947.eot');
    src: url('../fonts/13947.eot?#iefix') format('embedded-opentype'),
         url('../fonts/13947.woff2') format('woff2'),
         url('../fonts/13947.woff') format('woff'),
         url('../fonts/13947.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}